<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Assuntos
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="/admin/assuntos">Assuntos</a></li>
    <li class="active"><a href="/admin/assuntos/create">Cadastrar</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Novo Assunto</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="/admin/assuntos/create" method="post">
          <div class="box-body">
            <div class="form-group">
              <label for="nome">Nome da Assunto</label>
              <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome da assunto">
            </div>
            <div class="form-group">
                <label for="materia_id">Matéria</label>
                <select class="form-control" id="materia_id" name="materia_id">
                    {loop="$materias"}
                    <option value='{$value.id}'>{$value.nome}</option>
                    {/loop}
                </select>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-success">Cadastrar</button>
          </div>
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->