<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Matérias
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar Matéria</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="/admin/assuntos/{$assunto.id}" method="post">
          <div class="box-body">
            <div class="form-group">
              <label for="nome">Nome do Assunto</label>
              <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome do assunto" value="{$assunto.nome}">
            </div>
            <div class="form-group">
                <label for="materia_id">Matéria</label>
                <select class="form-control" id="materia_id" name="materia_id">
                    {loop="$materias"}
                    <option value='{$value.id}' {if="$value.id == $assunto.materia_id"}selected{/if}>{$value.nome}</option>
                    {/loop}
                </select>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->