<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Bancas
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar Banca</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="/admin/bancas/{$bancas.id}" method="post">
          <div class="box-body">
            <div class="form-group">
              <label for="nome">Nome da Banca</label>
              <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome" value="{$bancas.nome}">
            </div>
            <div class="form-group">
              <label for="sigla">Sigla da Banca</label>
              <input type="text" class="form-control" id="sigla" name="sigla" placeholder="Digite a sigla" value="{$bancas.sigla}">
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->