<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Provas
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="/admin/provas">Provas</a></li>
    <li class="active"><a href="/admin/users/create">Cadastrar</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Nova Prova</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="/admin/provas/create" method="post">
          <div class="box-body">
            <div class="form-group">
              <label for="cargo">Cargo</label>
              <input type="text" class="form-control" id="cargo" name="cargo" placeholder="Digite o cargo">
            </div>
            <div class="form-group">
                <label for="nivel">Nível</label>
                <select class="form-control" id="nivel" name="nivel">
                    <option value='Fundamental'>Fundamental</option>
                    <option value='Médio'>Médio</option>
                    <option value='Superior'>Superior</option>
                </select>
            </div>
            <div class="form-group">
              <label for="ano">Ano</label>
              <input type="text" class="form-control" id="ano" name="ano" placeholder="Digite o ano">
            </div>
            <div class="form-group">
                <label for="banca_id">Banca</label>
                <select class="form-control" id="banca_id" name="banca_id">
                    {loop="$bancas"}
                    <option value='{$value.id}'>{$value.sigla} - {$value.nome}</option>
                    {/loop}
                </select>
            </div>
            <div class="form-group">
                <label for="orgao_id">Órgãos</label>
                <select class="form-control" id="orgao_id" name="orgao_id">
                    {loop="$orgaos"}
                    <option value='{$value.id}'>{$value.nome} - {$value.sigla}</option>
                    {/loop}
                </select>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-success">Cadastrar</button>
          </div>
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->