<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Provas
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar Prova</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="/admin/provas/{$prova.id}" method="post">
          <div class="box-body">
            <div class="form-group">
              <label for="cargo">Cargo</label>
              <input type="text" class="form-control" id="cargo" name="cargo" placeholder="Digite o cargo" value="{$prova.cargo}">
            </div>
            <div class="form-group">
                <label for="nivel">Nível</label>
                <select class="form-control" id="nivel" name="nivel">
                    <option value='Fundamental' {if="$prova.nivel == 'Fundamental'"}selected{/if}>Fundamental</option>
                    <option value='Médio' {if="$prova.nivel == 'Médio'"}selected{/if}>Médio</option>
                    <option value='Superior' {if="$prova.nivel == 'Superior'"}selected{/if}>Superior</option>
                </select>
            </div>
            <div class="form-group">
              <label for="ano">Ano</label>
              <input type="text" class="form-control" id="ano" name="ano" placeholder="Digite o ano" value="{$prova.ano}">
            </div>
            <div class="form-group">
                <label for="banca_id">Banca</label>
                <select class="form-control" id="banca_id" name="banca_id">
                    {loop="$bancas"}
                    <option value='{$value.id}' {if="$value.id == $prova.banca_id"}selected{/if}>{$value.sigla} - {$value.nome}</option>
                    {/loop}
                </select>
            </div>
            <div class="form-group">
                <label for="orgao_id">Órgãos</label>
                <select class="form-control" id="orgao_id" name="orgao_id">
                    {loop="$orgaos"}
                    <option value='{$value.id}' {if="$value.id == $prova.orgao_id"}selected{/if}>{$value.nome} - {$value.sigla}</option>
                    {/loop}
                </select>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->