<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Questões
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar Questão</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="/admin/questions/{$question.id}" method="post">
          <div class="box-body">
            <div class="form-group">
              <label for="legenda_da_imagem">Legenda da imagem</label>
                <input type="text" class="form-control" id="legenda_da_imagem" name="legenda_da_imagem" value={$question.legenda_da_imagem}>
            </div>
            <div class="form-group">
              <label for="img_url">URL da imagem</label>
                <input type="text" class="form-control" id="img_url" name="img_url" value='{$question.img_url}'>
            </div>
            <div class="form-group">
              <label for="texto">Texto</label>
                <textarea class="form-control" id="texto" name="texto">{$question.texto}</textarea>
            </div>
            <div class="form-group">
              <label for="desperson">Pergunta</label>
                <textarea class="form-control" id="pergunta" name="pergunta" placeholder="Digite a pergunta">{$question.pergunta}</textarea>
            </div>
            <div class="form-group">
              <label for="alternativa1">Alternativa 1</label>
              <input type="text" class="form-control" id="alternativa1" name="alternativa1" value='{$question.alternativa1}'>
            </div>
            <div class="form-group">
              <label for="alternativa2">Alternativa 2</label>
              <input type="text" class="form-control" id="alternativa2" name="alternativa2" value='{$question.alternativa2}'>
            </div>
            <div class="form-group">
              <label for="alternativa3">Alternativa 3</label>
              <input type="text" class="form-control" id="alternativa3" name="alternativa3" value='{$question.alternativa3}'>
            </div>
            <div class="form-group">
              <label for="alternativa4">Alternativa 4</label>
              <input type="text" class="form-control" id="alternativa4" name="alternativa4" value='{$question.alternativa4}'>
            </div>
            <div class="form-group">
              <label for="alternativa5">Alternativa 5</label>
              <input type="text" class="form-control" id="alternativa5" name="alternativa5" value='{$question.alternativa5}'>
            </div>
            <div class="form-group">
                <label for="correta">Correta</label>
                <!--<input type="text" class="form-control" id="correta" name="correta" value="{$question.correta}">-->
                <select class="form-control" id="correta" name="correta" placeholder="Digite a alternativa correta">
                    <option value='alternativa1'{if="$question.correta == 'alternativa1'"}selected{/if}>Alternativa 1 ou Certo</option>
                    <option value='alternativa2'{if="$question.correta == 'alternativa2'"}selected{/if}>Alternativa 2 ou Errado</option>
                    <option value='alternativa3'{if="$question.correta == 'alternativa3'"}selected{/if}>Alternativa 3</option>
                    <option value='alternativa4'{if="$question.correta == 'alternativa4'"}selected{/if}>Alternativa 4</option>
                    <option value='alternativa5' {if="$question.correta == 'alternativa5'"}selected{/if}>Alternativa 5</option>
                </select>
            </div>
            <div class="form-group">
              <label for="resolucao">Resolução</label>
                <textarea class="form-control" id="resolucao" name="resolucao" placeholder="Digite a resolução">{$question.resolucao}</textarea>
            </div>
            <div class="form-group">
                <label for="prova_id">Prova</label>
                <select class="form-control" id="prova_id" name="prova_id">
                    {loop="$provas"}
                    <option value='{$value.id}' {if="$question.prova_id == $value.id"}selected{/if}>{$value.cargo} - {$value.nivel} - {$value.ano} - {$value.orgao_sigla} - {$value.banca_sigla}</option>
                    {/loop}
                </select>
            </div>
            <div class="form-group">
                <label for="assunto_id">Assunto</label>
                <select class="form-control" id="assunto_id" name="assunto_id">
                    {loop="$assuntos"}
                    <option value='{$value.id}' {if="$question.assunto_id == $value.id"}selected{/if}>{$value.nome}</option>
                    {/loop}
                </select>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->