<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Questões
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i>Home</a></li>
    <li><a href="/admin/questions">Questões</a></li>
    <li class="active"><a href="/admin/questions/create">Cadastrar</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Nova Questão</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="/admin/questions/create" method="post">
          <div class="box-body">
            <div class="form-group">
              <label for="legenda_da_imagem">Legenda da imagem</label>
                <input type="text" class="form-control" id="legenda_da_imagem" name="legenda_da_imagem" placeholder="Digite a legenda da imagem">
            </div>
            <div class="form-group">
              <label for="img_url">URL da imagem</label>
                <input type="text" class="form-control" id="img_url" name="img_url" placeholder="Digite o URL da img">
            </div>
            <div class="form-group">
              <label for="texto">Texto</label>
                <textarea class="form-control" id="texto" name="texto" placeholder="Digite o texto"></textarea>
            </div>
            <div class="form-group">
              <label for="desperson">Pergunta</label>
                <textarea class="form-control" id="pergunta" name="pergunta" placeholder="Digite a pergunta"></textarea>
            </div>
            <div class="form-group">
              <label for="alternativa1">Alternativa 1</label>
              <input type="text" class="form-control" id="alternativa1" name="alternativa1" placeholder="Digite a alternativa 1">
            </div>
            <div class="form-group">
              <label for="alternativa2">Alternativa 2</label>
              <input type="text" class="form-control" id="alternativa2" name="alternativa2" placeholder="Digite a alternativa 2">
            </div>
            <div class="form-group">
              <label for="alternativa3">Alternativa 3</label>
              <input type="text" class="form-control" id="alternativa3" name="alternativa3" placeholder="Digite a alternativa 3">
            </div>
            <div class="form-group">
              <label for="alternativa4">Alternativa 4</label>
              <input type="text" class="form-control" id="alternativa4" name="alternativa4" placeholder="Digite a alternativa 4">
            </div>
            <div class="form-group">
              <label for="alternativa5">Alternativa 5</label>
              <input type="text" class="form-control" id="alternativa5" name="alternativa5" placeholder="Digite a alternativa 5">
            </div>
            <div class="form-group">
                <label for="correta">Correta</label>
                <!--<input type="text" class="form-control" id="correta" name="correta" placeholder="Digite a alternativa correta">-->
                <select class="form-control" id="correta" name="correta" placeholder="Digite a alternativa correta">
                    <option value='alternativa1'>Alternativa 1 ou Certo</option>
                    <option value='alternativa2'>Alternativa 2 ou Errado</option>
                    <option value='alternativa3'>Alternativa 3</option>
                    <option value='alternativa4'>Alternativa 4</option>
                    <option value='alternativa5'>Alternativa 5</option>
                </select>
            </div>
            <div class="form-group">
              <label for="resolucao">Resolução</label>
                <textarea class="form-control" id="resolucao" name="resolucao" placeholder="Digite a resolução"></textarea>
            </div>
            <div class="form-group">
                <label for="prova_id">Prova</label>
                <select class="form-control" id="prova_id" name="prova_id">
                    {loop="$provas"}
                    <option value='{$value.id}'>{$value.cargo} - {$value.nivel} - {$value.ano} - {$value.orgao_sigla} - {$value.banca_sigla}</option>
                    {/loop}
                </select>
            </div>
            <div class="form-group">
                <label for="assunto_id">Assunto</label>
                <select class="form-control" id="assunto_id" name="assunto_id">
                    {loop="$assuntos"}
                    <option value='{$value.id}'>{$value.nome} - {$value.materia}</option>
                    {/loop}
                </select>
            </div> 
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-success">Cadastrar</button> 
            <button type="reset" class="btn btn-reset">Resetar</button>
          </div>
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->