    <div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                        <h2 class="titulo_meu">Matérias</h2>
                        <style>
                            .form_provas_completo {
                                border: 2px solid black;
                            }
                            .table_full tr td{
                                width: 50%;
                                padding: 3px 5px 3px 5px;
                            }
                            table {
                                
                                width: 100%;
                            }
                            .meu_button {
                                border-radius: 10px;
                                width: 200px;
                                color: black;
                                background-color: aliceblue;
                            }
                            ul {
                                list-style: none;
                            }
                            
                        </style>
                        {loop="$materias"}
                            <form class="form_provas_completo" action="/materias/{$value.id}" method="get">
                                <table class="table_full">
                                    <tr>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <table>
                                                            <tr>
                                                                <td><b>{$value.id}</b> </td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Nome:</b> {$value.nome}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Quantidade:</b> {$value.Qtd}</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="text-align: center;">
                                            <ul>
                                                <li><input class="meu_button" type='submit' value='Questoes'></li>
                                                <!--<li><button><a href="/provas/{value.id}"></a></button></li>-->
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                            <br>
                        {/loop}
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End main content area -->

    <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                        <ul class="pagination">
                            {loop="$pages"}
                            <li><a href="{$value.link}">{$value.page}</a></li>
                            {/loop}
                        </ul>
                    </nav>                        
                </div>
            </div>
        </div>