    <div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                        <h2 class="titulo_meu">Provas</h2>
                        <style>
                            .form_provas_completo {
                                border: 2px solid black;
                            }
                            .table_full tr td{
                                width: 50%;
                                padding: 3px 5px 3px 5px;
                            }
                            table {
                                
                                width: 100%;
                            }
                            .meu_button {
                                border-radius: 10px;
                                width: 200px;
                                color: black;
                                background-color: aliceblue;
                            }
                            ul {
                                list-style: none;
                            }
                            
                        </style>
                        {$cont = 1;}
                        {loop="$provas"}
                            <form class="form_provas_completo" action="/provas/{$value.id}" method="get">
                                <table class="table_full">
                                    <tr>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <table>
                                                            <tr>
                                                                <td><b>{$cont++}</b> </td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Banca:</b> {$value.banca_sigla} - {$value.banca} </td>
                                                            </tr>
                                                            <tr>    
                                                                <td><b>Ano:</b> {$value.ano} </td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Cargo:</b> {$value.cargo} </td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Órgão:</b> {$value.orgao} - ({$value.orgao_sigla}) </td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Nível:</b> {$value.nivel} </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="text-align: right"><b>{$value.Qtd}</b> <i>questões nesta prova!</i> </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="text-align: center;">
                                            <ul>
                                                <li><input class="meu_button" type='submit' value='Questoes'></li>
                                                <!--<li><button><a href="/provas/{value.id}"></a></button></li>-->
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                            <br>
                        {/loop}
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End main content area -->