    <div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                        <h4 class="titulo_meu">Questões da Prova para <b>{$cargo}</b></h4>
                        <h4>Órgão: <u>{$orgao}</u> - {$orgao_sigla}</h4>
                        <h4>Ano: {$ano}</h4>
                        <style>
                            table .header_da_questao tr td{
                                background-color: darkgray;
                                border: 1px solid black;
                                padding: 3px 5px 3px 5px;
                            }
                            table {
                                width: 100%;
                            }
                        </style>
                        {$cont = 1;}
                        
                        {loop="$questoes"}
                            <form class="questao_completa" method="POST" target="{$value.id}" action="/resposta.php">
                                <table>
                                    <tr>
                                        <td>
                                            <table class="header_da_questao">
                                                <tr>
                                                    <td><b>{$cont++}</b></td>
                                                    <td>Cod.{$value.id} </td>
                                                    <td>Banca: {$banca_sigla} </td>
                                                    <td>Ano: {$ano} </td>
                                                    <td>Cargo: {$cargo} </td>
                                                    <td>Assunto: {$value.assunto} </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: justify;">{$value.texto}</td>
                                    </tr>
                                    {if="$value.img_url != NULL"}
                                    <tr>
                                        <td><img src="/res/site/img/{$value.img_url}"/><br><br></td>
                                    </tr>
                                    {/if}
                                    <tr>
                                        <td>{$value.pergunta}</td>
                                    </tr>
                                    
                                    <tr>
                                        <td>
                                            <label><input id='alternativa1' type='radio' name='gender' value='alternativa1'> {$value.alternativa1}</label> <!--id='alternativa1' for='alternativa1'-->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label><input id='alternativa2' type='radio' name='gender' value='alternativa2'> {$value.alternativa2}</label>
                                        </td>
                                    </tr>
                                    {if="$value.alternativa3 != NULL"}
                                    <tr>
                                        <td>
                                            <label><input id='alternativa3' type='radio' name='gender' value='alternativa3'> {$value.alternativa3}</label>
                                        </td>
                                    </tr>
                                    {/if}
                                    {if="$value.alternativa4 != NULL"}
                                    <tr>
                                        <td>
                                            <label><input id='alternativa4' type='radio' name='gender' value='alternativa4'> {$value.alternativa4}</label>
                                        </td>
                                    </tr>
                                    {/if}
                                    {if="$value.alternativa5 != NULL"}
                                    <tr>
                                        <td>
                                            <label><input id='alternativa5' type='radio' name='gender' value='alternativa5'> {$value.alternativa5}</label>
                                        </td>
                                    </tr>
                                    {/if}
                                    <tr>
                                        <td></td>
                                    </tr>
                                </table>
                                <input type='hidden' name='resolucao' value='{$value.resolucao}'/>
                                <input type='hidden' name='id' value='{$value.id}'/>
                                <input type='hidden' name='correta' value='{$value.correta}'/>
                                <input type='submit' value='Responder'>
                                <input type='reset' value='Resetar'>
                            </form>
                            <br>
                            <iframe class="frame_pergunta" name="{$value.id}"></iframe>
                            <br>
                        {/loop}
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End main content area -->